@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
  --foreground: #f8fafc;
  /* Slate 50 */
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    display: flex;
    width: max-content;
    flex-shrink: 0;
    animation: marquee 15s linear infinite;
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .animate-marquee-reverse {
    display: flex;
    width: max-content;
    flex-shrink: 0;
    animation: marquee-reverse 15s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }
}